@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100vh;
}

.roboto {
  font-family: var(--font-roboto);
}
.roboto-slab {
  font-family: var(--font-roboto-slab);
}

body {
  height: 100vh;
  font-family: var(--font-roboto);
  font-weight: 300;
}

h1 {
  font-family: var(--font-roboto-slab);
  @apply text-[34px] md:text-[48px] lg:text-[72px] font-semibold mt-8;
}

p {
  @apply mt-4 first:mt-0
}
strong {
  @apply font-bold
}

h2 {
  font-family: var(--font-roboto-slab);
  @apply text-[26px] md:text-[38px] mt-8 font-semibold;
}
h3 {
  font-family: var(--font-roboto-slab);
}

.container {
  @apply mx-auto px-4
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-content a, .main-content a:visited {
  border-bottom: 3px solid black;
}


.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.active:hover {
  opacity: 0.7;
}

/* .hamburger.active .hamburger-inner,
.hamburger.active .hamburger-inner::before,
.hamburger.active .hamburger-inner::after {
  background-color: rgb(229 231 235 / var(--tw-text-opacity));
} */

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 3px;
  /* background-color: rgb(229 231 235 / var(--tw-text-opacity)); */
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--slider .hamburger-inner {
  top: 7px;
}

.hamburger--slider .hamburger-inner::before {
  top: 8px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
  top: 16px;
}

.hamburger--slider.active .hamburger-inner {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

.hamburger--slider.active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider.active .hamburger-inner::after {
  transform: translate3d(0, -16px, 0) rotate(-90deg);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #8b8b8b;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} 

.slide {  flex: 0 0 100%;  min-width: 0; height: 100dvh;}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background-color: #fff !important;
}


.richText {
  h2 {
    margin-bottom: 1em;
  }
  ul {
    list-style: disc outside;
    padding-left: 1rem;
  }
}

.wp-block-columns {
	display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

.wp-block-column {
	flex: 1;
}

@media (min-width: 600px) {
  .wp-block-columns {
    flex-direction: row;
    gap: 30px;
    margin-bottom: 60px;
  }
}

figure {
  position: relative;
}
figcaption {
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  color: #333333;
  margin-top: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(257, 257, 257, .75);
  padding:1px 6px;
}

.align-middle {
  align-items: center;
}

.page-main-content {
  max-width: 992px;
  margin: 0 auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
.icon-container {
  margin-top: 60px;

  img {
    display: block;
    max-width: 128px;
    margin: 0 auto;
  }
  p {
    font-size: 16px;
    text-align: center;
  }
}